### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Create new column and count unique number of total players by column "SN"
purchase_data["Total Players"] = len(purchase_data["SN"].unique())
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [3]:
#Solving for total number of players
totalP_df = purchase_data["Total Players"]
answer_df = pd.DataFrame(totalP_df)
answer_df.head(1)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Display DF
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [5]:
#Creating variable for Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())
unique_items

179

In [6]:
#Creating variable for Average Price
avg_price = purchase_data["Price"].mean()
avg_price

3.0509871794871795

In [7]:
#Creating variable for Number of Purchases
purchases = purchase_data["Purchase ID"].count()
purchases

780

In [8]:
#Creating variable for Total Revenue
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [9]:
#Creating DataFrame to display solutions
analysisP_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [avg_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [total_rev]
})
analysisP_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
#Formatting Average Price column
analysisP_df["Average Price"] = analysisP_df["Average Price"].map("${:.2f}".format)
analysisP_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [11]:
#Double checking data types
analysisP_df.dtypes

Number of Unique Items      int64
Average Price              object
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [12]:
#Formatting Total Revenue column
analysisP_df["Total Revenue"] = analysisP_df["Total Revenue"].map("${:,}".format)
analysisP_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [48]:
#Display DF
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [68]:
#Filter data by isolating male subset
malegender_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
malegender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [70]:
#Create variable for count of unique males
SN_counts_male = len(malegender_df["SN"].value_counts())
SN_counts_male

484

In [16]:
#Filter data by isolating female subset
femalegender_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
femalegender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,576
18,18,Reunasu60,22,Female,82,Nirvana,4.90,576
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,576
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,576
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,576

In [17]:
#Create variable for count of unique females
SN_counts_female = len(femalegender_df["SN"].value_counts())
SN_counts_female

81

In [18]:
#Filter data by isolating other / non-disclosed subset
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,576
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,576
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,576
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75,576
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39,576

In [19]:
#Create variable for count of unique other / non-disclosed subset
SN_counts_other = len(other_df["SN"].value_counts())
SN_counts_other

11

In [20]:
#Create variable for count of unique total players
uniqueplayers_df = len(purchase_data["SN"].unique())
uniqueplayers_df

576

In [21]:
#Calculating males as percent of total
malepercent_df = SN_counts_male / uniqueplayers_df
malepercent_df

0.8402777777777778

In [22]:
#Calculating females as percent of total
femalepercent_df = SN_counts_female / uniqueplayers_df
femalepercent_df

0.140625

In [23]:
#Calculating other as percent of total
otherpercent_df = SN_counts_other / uniqueplayers_df
otherpercent_df

0.019097222222222224

In [24]:
#Creating DataFrame to display solution
gendercount_df = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [SN_counts_male, SN_counts_female, SN_counts_other],
    "Percentage of Players": [malepercent_df, femalepercent_df, otherpercent_df],

})
gendercount_df

                          Total Count  Percentage of Players
0                   Male          484               0.840278
1                 Female           81               0.140625
2  Other / Non-Disclosed           11               0.019097

In [25]:
#Moving Gender column to index
gender_df = gendercount_df.set_index("")
gender_df

                       Total Count  Percentage of Players

Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [26]:
#Formatting Percentage of Players column
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2%}".format)
gender_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#Display DF
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [51]:
#Creating groupby for Gender
gendergroup_df = purchase_data.groupby(["Gender"])
gendergroup_df.count()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Total Players
Gender,,,,,,,
Female,113,113,113,113,113,113,113
Male,652,652,652,652,652,652,652
Other / Non-Disclosed,15,15,15,15,15,15,15

In [63]:
#Was able to find online something called .nunique to help with 4th column of this solution, 
#Avg Total Purchase per Person
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html
#https://stackoverflow.com/questions/41415017/count-unique-values-using-pandas-groupby
namesbygender_df = gendergroup_df["SN"].nunique()
namesbygender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [57]:
#Defining variables for solution
purchasecount_df = gendergroup_df["Purchase ID"].count()
avgpurchase_df = gendergroup_df["Price"].mean()
totalpurchase_df = gendergroup_df["Price"].sum()
avgtotal_df = totalpurchase_df / namesbygender_df
avgtotal_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [77]:
#Creating DataFrame for solution
gendersummary_df = pd.DataFrame({"Purchase Count": purchasecount_df,
                                 "Average Purchase Price": avgpurchase_df,
                                 "Total Purchase Value": totalpurchase_df,
                                 "Avg Total Purchase per Person": avgtotal_df                              
                                })
gendersummary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [78]:
#Formatting columns for solution
gendersummary_df["Average Purchase Price"] = gendersummary_df["Average Purchase Price"].map("${:.2f}".format)
gendersummary_df["Total Purchase Value"] = gendersummary_df["Total Purchase Value"].map("${:,.2f}".format)
gendersummary_df["Avg Total Purchase per Person"] = gendersummary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
gendersummary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
#Display DF
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [82]:
#Grabbing Age max for potential upper bound
purchase_data["Age"].max()

45

In [88]:
#Grabbing Age min for potential lower bound
purchase_data["Age"].min()

7

In [95]:
#Create the bins
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45.99]

In [96]:
#Create the names for the bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [97]:
#Create extra column to hold binned data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,576,20-24
...,...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,576,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,576,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,576,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,576,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,576,20-24

In [98]:
#Create groupby for Age Ranges
agerange_df = purchase_data.groupby("Age Ranges")
agerange_df.count()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
Age Ranges,,,,,,,,
<10,23,23,23,23,23,23,23,23
10-14,28,28,28,28,28,28,28,28
15-19,136,136,136,136,136,136,136,136
20-24,365,365,365,365,365,365,365,365
25-29,101,101,101,101,101,101,101,101
30-34,73,73,73,73,73,73,73,73
35-39,41,41,41,41,41,41,41,41
40+,13,13,13,13,13,13,13,13

In [99]:
#Create variable to count unique observations by Age
totalcount_df = agerange_df["SN"].nunique()
totalcount_df

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [100]:
#Create variable to calculate age counts in each range as percent of total unique players
percentage_df = totalcount_df / uniqueplayers_df
percentage_df

Age Ranges
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: SN, dtype: float64

In [101]:
#Create DataFrame to hold solution
agesummary_df = pd.DataFrame({
    "Total Count": totalcount_df,
    "Percentage of Players": percentage_df
})
agesummary_df

            Total Count  Percentage of Players
Age Ranges
<10                  17               0.029514
10-14                22               0.038194
15-19               107               0.185764
20-24               258               0.447917
25-29                77               0.133681
30-34                52               0.090278
35-39                31               0.053819
40+                  12               0.020833

In [102]:
#Formatting Percentage of Players column
agesummary_df["Percentage of Players"] = agesummary_df["Percentage of Players"].map("{:.2%}".format)
agesummary_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame